<div class="grid place-items-center gap-8">
  <div
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full grid grid-cols-2"
  >
    <div class="grid place-content-center">
      <img
        class="w-10 h-10"
        src="assets/img/computadora114-6em7-200h.png"
        alt=""
      />
    </div>
    <div class="grid place-content-center">
      <a class="button" href="" [routerLink]="['/equiposDeComputo']">Equipos de computo</a>
    </div>
  </div>
  <div
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full grid grid-cols-2"
  >
    <div class="grid place-content-center">
      <img
        id="phone"
        class="w-10 h-10"
        src="assets/img/smartphones1141-c2tj-200w.png"
        alt=""
      />
    </div>
    <div class="grid place-content-center">
      <a class="button" href="">Smartphones</a>
    </div>
  </div>
  <div
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full grid grid-cols-2"
  >
    <div class="grid place-content-center">
      <img
        class="w-10 h-10"
        src="assets/img/impresora1248-w9zc-200w.png"
        alt=""
      />
    </div>
    <div class="grid place-content-center">
      <a class="button" href="">Impresoras</a>
    </div>
  </div>
  <div
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full grid grid-cols-2"
  >
    <div class="grid place-content-center">
      <img
        class="w-10 h-10"
        src="assets/img/historial1251-m31l-200w.png"
        alt=""
      />
    </div>
    <div class="grid place-content-center">
      <a class="button" href="">Historial</a>
    </div>
  </div>
  <div
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full grid grid-cols-2"
  >
    <div class="grid place-content-center">
      <img
        class="w-10 h-10"
        src="assets/img/bandejadeentrada1252-eebi-200h.png"
        alt=""
      />
    </div>
    <div class="grid place-content-center">
      <a class="button" href="">Email</a> <!-- Antes llamado: Correos electrónicos -->
    </div>
  </div>
</div>
