<div class="flex font-sans text-xl justify-center items-center">
    <div class="img">
      <img class="max-w-xs rounded-full" src="assets/img/mexq-logo.jpg" alt="" />
    </div>
    <div class="link">
      <a href="" class="drop-shadow-md md:drop-shadow-2xl font-bold">Home</a>
    </div>
    <div class="text">
      <p href="" class="drop-shadow-md md:drop-shadow-2xl font-bold">Bienvenid@: Usuario</p>
    </div>
    <div class="link">
      <a href="" class="drop-shadow-md md:drop-shadow-2xl font-bold underline">Cerrar sesión</a>
    </div>
  </div>