<table class="table-fixed m-auto" *ngIf="equipos">
  <thead>
    <tr>
      <th class="px-3">id</th>
      <th class="px-3">Código</th>
      <th class="px-3">Nómina</th>
      <th class="px-3">Nombre</th>
      <th class="px-3">Area</th>
      <th class="px-3">Marca</th>
      <th class="px-3">Modelo</th>
      <th class="px-3">No. serie</th>
      <th class="px-3">Fecha</th>
      <th class="px-3">No. Factura</th>
      <th class="px-3">Proveedor</th>
      <th class="px-3">Estado</th>
      <th class="px-3">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="px-3">Empty</td>
      <td class="px-3">pty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Ety</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
    </tr>
    <tr>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
      <td class="px-3">Empty</td>
    </tr>
    <tr>
      <td class="px-3" *ngFor="let equipos of equipo | async">Empty... {{equipos.codigo}}</td>
    </tr>
  </tbody>
</table>